body {
    /*font-size: .85em;*/
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}


/*!
 * Start Bootstrap - Business Frontpage HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */



/* Header Image Background - Change the URL below to your image path (example: ../images/background.jpg) */

.business-header {
    height: 400px;
    /*background: url('http://placehold.it/1920x400') center center no-repeat scroll;*/
    background: url('/Content/images/home.png') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* Customize the text color and shadow color and to optimize text legibility. */

.tagline {
    text-shadow: 0 0 10px #000;
    color: #fff;
}

.img-center {
    margin: 0 auto;
}

.imgDiv {
    float:left;
    padding:5px;
    font-size:10px;
    margin-bottom:15px;
}

.imgDiv img{
    margin-top:3px;
    border: 1px solid #ccc;
    background: #ffffff;
    padding:3px;
    border: solid 1px #CCC; -moz-box-shadow: 3px 3px 0px #dddddd; -webkit-box-shadow: 3px 3px 0px #dddddd; box-shadow: 3px 3px 0px #dddddd;
}

.lbl{
    font-weight:bold;
    color:#008600;
}

.family {
    border-style:solid;
    border-color:#ccc;
    border-width:1px;
    padding-top:10px;
}
.contactDiv {
    margin-top:10px;
    padding:40px 0px 10px 7px ;
   float:left;
   font-size:12px;
}

.contactMobileDiv {
    margin-top:30px;
   padding:15px 0px 10px 7px ;
   float:left;
   font-size:12px;
}

.photoBorder {
    width:115px;
    margin:0 auto;
    /*border:dotted;
    border-width:1px;*/
}

.nav {
    font-weight: bold;
}

.sortCmd {
    padding-left:10px;
}

.required {
    margin-left:2px;
    font-size:18px;
    font-weight:bold;
    color:red;
}

.thanks {
    font-weight:bold;
    color:#009f00;
}

.TownInfo {
    border: 1px solid #999999;
    background: #e4ebf0;
    padding:5px;
    text-align:center;
    width:290px;
    font-size:12px;
}

.DataRow {
    margin-bottom:10px;
}

legend.scheduler-border {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}

.top-field {
    text-align:center;
    margin-bottom:2px;
}
/***************************************************Table Design**************************************************************/


.CSSTableGenerator {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.CSSTableGenerator tr:hover td{
	
}
.CSSTableGenerator tr:nth-child(odd){ background-color:#e8e8e8; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#ffffff; }.CSSTableGenerator td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:12px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
	background:-o-linear-gradient(bottom, #3d7904 5%, #204404 100%);	
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#3d7904", endColorstr="#204404");	
    background: -o-linear-gradient(top,#3d7904,204404);
	background-color:#3d7904;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:16px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #3d7904 5%, #204404 100%);	
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#3d7904", endColorstr="#204404");	
    background: -o-linear-gradient(top,#3d7904,204404);
	background-color:#3d7904;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
