
@{
    ViewBag.Title = "Error";
    ViewBag.Back = false;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sorry..</h2>
<p>An unexpected error just happend. We are notified with this incident and will address it in timely manner.</p>
<p>Thank you for your paitence.</p>
<p>New Jersey Chodae Church IT Support Team</p>

