
@{
    ViewBag.Title = "Dev2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
</script>
<script src="~/Scripts/jquery-ui.js"></script>
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<h2>Dev2</h2>
<p>Date: <input type="text" id="datepicker"></p>

